@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");

body {
  background: #fff;
  max-width: 75vw;
  margin: auto;
  font-family: "Lato", sans-serif;
}

p {
  color: rgb(88, 88, 88);
  font-size: 18px;
}

h1 {
  color: #4acaa8;
  font-size: 2.7em;
}

h2 {
  font-size: 20px;
}
h3 {
  font-weight: 500;
  font-size: 20px;
}

img {
  width: 50%;
}

.h2style {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #888;
  /* border-style: solid;
  border-color: grey; */
}

.headers {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 35px;
}

.ContactLists {
  font-size: 16px;
  color: #888;
  font-weight: 400;
}

.name {
  color: #4acaa8;
  font-family: "Lato", sans-serif;
  font-size: 40px;
}

.description {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: rgb(77, 77, 77);
}

.information {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  color: rgb(77, 77, 77);
  font-style: normal;
}

/* Cards for Projects */
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

@media (max-width: 800px) {
  img {
    width: 100%;
  }
}
html {
  scroll-behavior: smooth;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(196, 196, 196);
  overflow-x: hidden;
  padding-top: 20px;
}

/* Page content */
.main {
  margin-left: 0px; /* Same as the width of the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #3a3a3a;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }


btn
{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color;}